@charset"utf-8";

	h3 {
		margin : 10% 0 0 0;
	}


	#login{
		width: 21%;
		height: 45%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		background-color: #999;
		margin : 25% 0 0 79%;
		float : left;
	}

	after#login{
		clear : both;
	}



	#loginform {
		margin : 15% 0 0 15%;
	}

	#password_forget {
		margin : 1% 0 1% 75%;
	}
